<%= form_tag("/ranking", method: "post") do %>
	<%= label_tag(:age, "Select an age") %>
	<%= select_tag(:age, options_for_select([11,12,13,14,15,16,17], @age)) %>
	<%= label_tag(:league, "Select a League") %>
	<%= select_tag(:league, options_for_select(["scsdl","coast", "both"], @league)) %>
	<%= submit_tag("Rankings") %>
<% end %>
<ol>
	<% @teams.each do |team| %>
		<li><%= team.name %> </li>
 	<% end %>
</ol>

