<h1 align="center"> SoCal Youth Soccer Rankings</h1>

<%= form_tag("/age", method: "post") do %>
	<%= label_tag(:age, "Select an age") %>
	<%= select_tag(:age, options_for_select([11,12,13,14,15,16,17])) %>
	<%= label_tag(:league, "Select a League") %>
	<%= select_tag(:league, options_for_select(["scsdl","coast","both"])) %>
	<%= submit_tag("Rankings") %>
<% end %>
<p>
	This website ranks all the teams from Coast Soccer League and Southen California Soccer Developmental League. The teams are ranked based on the 2014 league results. 
</p>